<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1>대문 페이지</h1>
    {% if current_user.is_authenticated %}
        <p>안녕하세요, {{ current_user.username }}님!</p>
        <a href="{{ url_for('logout') }}"><button>로그아웃</button></a>
    {% else %}
        <p>로그인하지 않은 사용자입니다.</p>
        <a href="{{ url_for('login') }}"><button>로그인</button></a>
    {% endif %}



    <p><a href="{{ url_for('register') }}">
        <button>회원가입으로이동</button>
    </a></p>
</body>
</html>
